.question-main{

}

.question-prompt{
   margin: 20px auto 50px auto;
}

.question-prompt h2{
   text-align: center;
}

.answers-main button{
    font-size: 16px;
}

.answers-top{
    display: flex;
    margin-bottom: 30px;
}

.answers-bot{
    display: flex;
}

.answers-submit{
    display: flex;
    border: 4px solid blue;
    background-color: rgb(181, 214, 225);
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    margin: 40px auto 20px auto;
}

.answers-submit:hover{
    cursor: pointer;
}

.answers-submit h2:hover{
    text-decoration: underline;
}




.answers-option-button{
    width: 15%;
    min-height: 60px;
    border-radius: 5px;
    background-color: #CD5E77;
    color: black;
    margin: 0 auto;
    border: 4px solid white;
    font-family: 'Fredoka One', cursive;
    outline-color: darkgreen;
}


.activeb{
    border-color: darkgreen;
    text-decoration: underline;
    background-color: rgb(139, 241, 139);
}

.answers-option-button:hover{
    cursor: pointer;
    border-color: rgb(139, 241, 139);
}

.trivia-question-number{
    text-align: center;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
    font-family: Yeyey;
    src: url("Yeyey-1pK2.otf") format("opentype");
}

@font-face {
    font-family: Reglisse;
    src: url("ReglisseFill-WyWzn.otf") format("opentype");
}